/*커리큘럼 페이지 소개하는 메인화면, 차례로 초등, 중등, 고등*/

.ele_course1{
    width: 100%;
    background-image: url(../Img/Elementary_bg.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        /*#e7f0f2;*/
}

.mid_course1{
    width: 100%;
    background-image: url(../Img/Middle_bg.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        /*#e7f0f2;*/
}

.high_course1{
    width: 100%;
    background-image: url(../Img/High_bg.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        /*#e7f0f2;*/
}

.system{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 130px; 
}

.ele_text{
    font-size: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: bold;
    color:  #ffffff;
    text-align: left;
    margin-top: 100px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.mid_text{
    font-size: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: bold;
    color:  #ffffff;
    text-align: left;
    margin-top: 250px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   
}

.high_text{
    font-size: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: bold;
    color:  #ffffff;
    text-align: left;
    margin-top: 100px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.sub_text{
    font-size: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color:#ffffff;
    text-align: left;
}

/*커리큘럼 페이지 영어, 수학 부분*/
.course2{
    width: 100%;
    background: #ECEBEB;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: transform;
    position: relative;
        /*#e7f0f2;*/
}

.course3{
    width: 100%;
    background: #ffffff;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: transform;
    position: relative;
        /*#e7f0f2;*/
}
.text2{
    visibility: visible;
    animation-delay: 0.25s;
    animation-name: fadeInUp;
    letter-spacing: -0.5px;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #0C5061;
    font-weight: bold;
    text-align: left;
    line-height: 2;
}

.sub_text2{
    visibility: visible;
    animation-delay: 0.25s;
    animation-name: fadeInUp;
    letter-spacing: -0.5px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #0C5061;
    text-align: left;
    line-height: 2;
}

.sub_wrap{
    display:flex;
    justify-content: space-between;
}

.sub_info{
    width: 520px;
    height: 369px; 
}

.sub_info img{
    width:100%;
    height: auto;
}

.sub_info2{
    width: 520px;
    height: 369px; 
}

.sub_info2 img{ /*크기가 큰 사진에 적용하기 위함!*/
    width:80%;
    height: auto;
    position: relative;
    top: 0;
}

.sub_info3{
    width: 520px;
    height: 369px; 
}

.sub_info3 img{ /*크기가 큰 사진에 적용하기 위함!*/
    width:70%;
    height: auto;
    position: relative;
    top: 0;
}