#wrap{
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header{
   width: 100%;
}

.h_top{
    width: 100%;
    height: 78px;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 1200px;
    background-color: #3a727f;
    z-index: 99;
}
.btn_menu{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.btn_menu div{
        width: 32px;
        height: 3px;
        background-color: #fff;
        margin: 7px 10px;
}
.consult_btn a{
    display: inline-block;
}


.buy_btn1{
    border-radius: 4px;
    border: 1px solid #f74440;
    transition: all 0.5s;
    padding: 13px;
    margin: 5px;
    width: 60px;
    height: 10px;
    background-color: #f74440; 
    display: block;
    cursor: pointer;
    overflow: hidden;
    margin: 18px 0 0 0;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 20px;
}
.buy_btn1{
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
  text-align: center;
  color: #fff;
    /*text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);*/
  font-size: 14px;
  line-height: 10px;
}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0c5061;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav .tits img{
    position: absolute;
    top: 15px;
    left: 10px;
}

.sidenav .menu_bar>a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.icons{
    margin-top: 25px;
    border-top: 1px solid #A3A1A1;
    padding: 5px;
}

.icons div{
    display: inline-block;
    width: 40px;
    margin-top: 10px;
}

.icons div>a>img{
    width: 30px;
    height: 30px;
    margin-left: 25px;
}




h1>a>img{
    width: 130px;
    height: 60px;
    position: absolute;
    top: 10px;
}
h1{
    width: 250px;
    margin: auto;
}
.nav_br{
    position: absolute;
    right: 0;
    width: 700px;
}
.nav_br ul>li{
    float: right;
    right: 30px;
    line-height: 80px;
    margin-left: 10px;
    position: relative;
    color: #fff;
    font-size: 25px;
}
.nav_br ul>li>a{
    color: #fff;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
}
.sm_logo{
    display: none;
}

.phone_call .call{
    margin-left: 20px;
}
.call i{
    margin-right: 15px;
}
.call i>img{
    display: inline-block;
    width: 25px;
    height: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.edu a{
    position: relative;
    top: 25px;
    margin-right: 12px;
}
.edu a>img{
    width: 28px;
    height: 28px;
}
.blg_imo a{
    position: relative;
    top: 26px;
}
.blg_imo a>img{
    width: 32px;
    height: 28px;
}
.login_btn a{
    margin-right: 20px;
}

main>section{
    width: 100%;
}
.main_pg{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    transition-property: transform;
        
}
.main_pg1{
    width: 100%;
    background-image: url(../Img/bg_firstpg@2x.png);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        /*#e7f0f2;*/
}

.main_pg2{
    width: 100%;
    background-image: url(../Img/mainpg_bg2.png);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: transform;
    position: relative;
        /*#e7f0f2;*/
}


.mainpg_img img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 450px;
    position: absolute;
    right: 130px;
    top: 70px;
}


.main_pg3{
    width: 100%;
    background-image: url(../Img/mainbg3@2x.png);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: transform;
    position: relative;
        /*#e7f0f2;*/
}
.mainpg_img2 img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 550px;
    position: absolute;
    right: 160px;
    top: 110px;
}

.bg_img{
    width: 800px;
    height: 500px;
    position: relative;
    left: 80px;
    top: 220px;
}
.text{
    display: block;
    position: relative;
    width: 1440px;
    padding: 0 130px;
    height: 200px;
    margin: 0 auto;
    padding-top: 250px;
    box-sizing: border-box;
}
.text h2, .text2 h2{
    font-size: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.text2{
    display: block;
    position: relative;
    width: 1440px;
    padding: 0 130px;
    
    margin: 0 auto;
    padding-top: 200px;
    box-sizing: border-box;
}
.text2 p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #fff;
    margin-top: 15px;
}

.text p{
    font-size: 40px;
    font-weight: 400;
     font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #fff;
    /*text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);*/
}
.buy_btn{
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
    padding: 20px;
    margin: 5px;
    width: 180px;
    height: 60px;
    background-color: #f74440;
    display: block;
    cursor: pointer;
    overflow: hidden;
    margin: 18px 0 0 0;
}

.buy_btn span a {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
  text-align: center;
    color: #fff;
    /*text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);*/
    font-size: 14px;
    line-height: 10px;
    padding-left: 10px;
}

.buy_btn span a:after {
  content: '\00bb';
  font-size: 25px;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
  margin-left: 9px;
}

.buy_btn:hover span a {
  padding-right: 15px;
}

.buy_btn:hover span :after {
  opacity: 1;
  right: 0; 
}
.buy_btn:hover{
background-color: #f74440;   
}

.section_sect2{
    width: 100%;
    position: relative;
    background: #ECEBEB;
}

.system{
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0px 130px; 
}
.inner{
    padding: 40px 0px 100px;
}
.tit{
    text-align: center;
}
.tit span{
    font-size: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: bold;
    color: #0C5061;
    text-align: center;
    margin: auto;
}
.sub_text{
    font-size: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #0C5061;
    text-align: center;
}
.text_info{
    visibility: visible;
    animation-delay: 0.25s;
    animation-name: fadeInUp;
    letter-spacing: -0.5px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #0C5061;
    text-align: left;
    line-height: 2;
}
.level{
    margin-top: 48px;
    display: flex;
}
.level p{
    font-size: 23px;
     font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    word-break: keep-all;
    color: #0C5061;
    text-align: left;
    text-decoration: underline;
}
.test_btn{
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 60px;
    background-color: #f74440;
    box-shadow: 2px 2px 4px 1px #0003;
    margin-left: 20px;
    cursor: pointer;
}
.test_btn span a {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
  text-align: center;
    color: #fff;
    /*text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);*/
    font-size: 14px;
    line-height: 10px;
    padding-left: 10px;
}

.test_btn span a:after {
  content: '\00bb';
  font-size: 25px;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
  margin-left: 9px;
}

.test_btn:hover span a {
  padding-right: 15px;
}

.test_btn:hover span :after {
  opacity: 1;
  right: 0; 
}
.test_btn:hover{
background-color: #f74440;   
}
.info_wrap{
    display: flex;
    justify-content: space-between;
}
.info_right{
    width: 520px;
    height: 369px;
}
.info_right img{
    width: 100%;
    height: auto;
}
.section_sect3{
    width: 100%;
    position: relative;
}
.school{
    width: 1200px;
    margin: 0 auto;
    padding: 140px 0px 130px; 
}
.school .inner .tit{
    text-align: center;
}










.school_wrap{
    width: 1200px;
}
.school_wrap{
    display: flex;
    justify-content: space-between;
}
.ele{
    width: 326px;
    height: 425px;
    background-image: url(../Img/Elementary@2x.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mid{
    width: 326px;
    height: 425px;
    background-image: url(../Img/Middle@2x.png);
     background-size: contain;
     background-position: center;
    background-repeat: no-repeat;
}
.hig{
    width: 326px;
    height: 425px;
    background-image: url(../Img/high@2x.png);
     background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.brand_plus{
  width: 100px;
  display: block;
  padding: 15px 15px;
  background-color: #fff;
  border: 1px solid #7d7d7d;
  text-align: center;
  font-size: 13px;
  margin: auto;
  transition: 0.3s;
  cursor: pointer;
    position: relative;
    margin-top: 330px;
    z-index: 3;
}
.brand_plus span>a{
    display: block;
    position: relative;
    z-index: 2;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    white-space: nowrap;
    text-align: center;
    color: #7d7d7d;
    margin: auto;
}
.brand_plus:hover{
  background-color: #f74440;
  color: white;
  border: 1px solid #f74440;
}

.brand_plus:hover span a {
    color: #fff;
}

.test_btn:hover span :after {
  opacity: 1;
  right: 0; 
}
.brand_plus a>span:hover{
    color: #fff;
}

.section_sect4{
    width: 100%;
    position: relative;
    background-color:#F3F6F9; 
}
.language{
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0px 320px; 
}
.postscTap{
    display: inline-block;
}
.postscTab li{
    display: inline-block;
}
.postscTab li>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-right: 25px;
    color: #0C5061;
}
list_wrap{
    position: relative;
}

.pic_right{
    display: block;
    position: absolute;
    right: 130px;
    
    
    
}
.pic_right>img{
    width: 435px;
    height: 290px;
}
.section_sect5{
    width: 100%;
    position: relative;
    background-color:#fff; 
}
.videos{
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0px 160px;
}

.section_sect6{
    width: 100%;
    position: relative;
    background-color:#E5EEEF; 
}
.map{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 160px;
}
.location_wrap{
    width: 550px;
    height: 190px;
    border-bottom: 4px solid #A4C1C3;
    padding: 0;
    box-sizing: border-box;
}
.logo_wrap div>img{
    width: 60px;
    height: 70px;
}

.schoolname{
    font-size: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #0C5061;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    position: relative;
    line-height: 80px;
}
.schoolname2{
    font-size: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    color: #0C5061;
    font-weight: 500;
    text-align: left;
}

.logo_wrap div{
    position: relative;
    display: inline-block;
    
}
.location{
    font-size: 18px;
     font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    word-break: keep-all;
    color: #0C5061;
    text-align: left;
    margin-top: 10px;
}
.counseling{
    display: inline-block;
    margin-top: 80px;
    color: #333333;
    font-size: 35px;
}
.entire_wrap{
    display: flex;
    justify-content: space-between;
}
.counseling {
   width: 520px;
    height: 60px;
}
.counseling a>img{
    margin-top: 8px;
}
.counseling .call, .counseling .kakao{
    width: 50px;
    height: 60px;
    display: inline-block;
}
.counseling .num, .counseling .talk{
    display: inline-block;
    font-size: 26px;
     font-family:'PT Sans Narrow', sans-serif;
    word-break: keep-all;
    color: #333333;
    font-weight: 400;
    line-height: 60px;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #173F5F;
}
#footer{
    width: 1200px;
    margin: auto;
}
#footer .footer_wrap>ul{
    overflow: hidden;
    border-bottom: 1px solid #A3A1A1;
}
#footer .footer_wrap>ul li{
    float: left;
    height: 62px;
    line-height: 62px;
    padding: 0 22px 0 21px;
    background: url(../Img/gnb_bar.gif) right center no-repeat;
}
#footer .footer_wrap>ul li>a{
    color: #fff;
    font-size: 14px;
     font-family: 'Noto Sans KR', sans-serif;
}

#footer .footer_wrap .sns li.kakao {
    background-position: -26px 0;
}
.logo_footer{
    display: inline-block;
    
}
.logo_footer img{
    margin-top: 10px;
    width: 90px;
    height: 50px;
}
.footer_wrap2{
    display: inline-block;
    position: relative;
    margin-left: 900px;
}
#footer .sns{
    float: right;
    
}
#footer .sns li{
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}
.kakao a>img{
    width: 30px;
    height: 29px;
}   
.blog a>img{
    width: 30px;
    height: 29px;
}
.youtube a>img{
    width: 28px;
    height: 29px;
}
.instagram a>img{
   width: 28px;
    height: 29px; 
}

@media only screen and (min-width: 0) and (max-width: 1280px) {
    .slideshow .main_pg2{
    width: 86%;
    padding: 80px 0 30px;
    height: 480px;
    }
    .slideshow .main_pg3{
    width: 86%;
    padding: 80px 0 30px;
    height: 480px;   
    }
}
    
    @media only screen and (max-width: 960px) and (min-width: 0) {
    #wrap{
            position: relative;
            width: 100%;
        }
        
    .h_top {
        max-width: 100% !important;
        height: 54px;
         
    }
    .btn_menu div{
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 7px 10px;
}
    .nav_box h1{
        display: none;
    }
    
    
    .btn_menu{
        left: 10px;
    }
    
    
    .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
  }
        .nav_br{
            position: relative;
            margin: auto;
        }
        .nav_br ul .phone_call{
            position: absolute;
            right: 590px;
            top: -55px;
        }
        .nav_br ul .phone_call a{
            font-size: 12px;
        }
        .nav_br ul .phone_call a>i>img{
            width: 18px;
            height: 28px;
        }
   
    
    .nav_box{
        background-image:url(../Img/logo_960pix@2x.png) center center no-repeat;
        background-size: 133px 30px;
        background-position: center;
        overflow: hidden;
        z-index: 999;
        margin-left: 55px;
    }    
    
    
    
    .sm_logo{
        display: block;
        width: 133px;
        height: 34px;
        padding: 5px 5px;
        margin-left: 60px;
    }
    
    .system, .school, .language, .videos, .map{
        width: 100%;
    }
    section>article{
        width: 100%;
    }
    
    .slideshow .main_pg1 {
        width: 100%;
        min-width: 320px;
        max-width: 800px;
        padding: 0;
        height: 400px;
        margin: 0 auto;
        position: relative;
        
    }
      .slideshow .main_pg2 {
        width: 100%;
        min-width: 320px;
        max-width: 800px;
        padding: 0;
        height: 400px;
        margin: 0 auto;
        position: relative;
    }    
    .slideshow .main_pg3 {
        width: 100%;
        min-width: 320px;
        max-width: 800px;
        padding: 0;
        height: 400px;
        margin: 0 auto;
        position: relative;
        
    }     
        
    .text{
        display: block;
        width: 90%;
        min-width: 320px;
        max-width: 800px;
        
        padding-top: 200px;
        padding: 0 30px;
        position: absolute;
        left: 0;
        top: 130px;
    }
     .text2{
        display: block;
        width: 75%;
        min-width: 320px;
        max-width: 800px;
        line-height: 40px;
        padding-top: 200px;
        padding: 0 30px;
        position: absolute;
        left: 0;
        top: 100px;
        }    
        .text2 .buy_btn{
        padding: 0 30px;
        display: block;
        width: 130px;
        padding: 0;
        font-size: 14px;
        height: 38px;
        position: absolute;
        }
        .tit span{
    font-size: 33px;
   
}
.sub_text{
    font-size: 22px;
   
}
     
    .text h2{
        width: 75%;
        font-size: 28px;
    }
 
    .text p{
        font-size: 17px;
    }
    .text2 h2{
        font-size: 27px;
    }    
        .text2 p{
            width: 63%;
            font-size: 16px;
            line-height: 20px;
        }    
        
        
    .buy_btn{
    display: block;
    width: 130px;
    padding: 0;
    font-size: 14px;
    height: 38px;
    }
   .buy_btn span a{
    font-size: 13px;
    line-height: 14px;
    }
  .buy_btn span a:after {
  content: '\00bb';
  font-size: 18px;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
  margin-left: 9px;
}
        
        
        
    .inner span{
        font-size: 28px;
    }
    .info_wrap{
        display: block;
        
    }
    .info_left{
        padding-bottom: 100px;
    }
    
    .text_info{
        padding: 0 3%;
        font-size: 14px;
    }
    .level{
       padding: 0 3%;
        
    }
    .level p{
        font-size: 16px;

    }
    .info_right {
        width: 80%;
        height: auto;
        padding: 0 3%;
        margin: 0 auto;
    }
    .test_btn{
        width: 145px;
        padding: 0;
        font-size: 14px;
        height: 45px;
    }
        .buy_btn{
            display: block;
            margin: 20px auto;
         
        }
        
    .buy_btn span a{
     font-size: 13px;
     line-height: 14px;
    }
        
    .school{
        width: 100%;
    }
   
    
    .school_wrap {
        padding: 5.208vw 1.95vw 0;
        width: 85%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 0 3%;
    }
    .school_wrap li{
        width: 88%;
        margin-bottom: 15px;
        padding: 10% 8%;
        margin: 0 auto;
    }
    
    .brand_plus{
        display: block;
        text-align: center;
        position: relative;
        min-width: 30%;
        top: 78%;
        left: 0;
        margin: 0 auto;
    }
    .postscTab .on{
        padding: 0 3%;
        margin: 0 auto;
    }
    .postscTab .on>a{
        font-size: 13px;
        margin: auto;
    }
    .pic_right{
        display: block;
        margin: 0 auto;
        margin-top: 100px;
        padding: 0 3%;
    }
    .pic_right img{
        width: 88%;
        height: auto;
        
    }
    
    
    .autoplay a>img{
        width: 88%;
        height: auto;
    }
    
    .entire_wrap{
        display: block;
    }
    
    .logo_wrap{
        padding: 0 3%;
    }
    .center{
        padding: 0 3%;
    }
    .loc_map aside {
        margin-top: 150px;
    }
    .logo_wrap div>img{
        
    }
    .schoolname{
        font-size: 25px;
    }
    .schoolname2{
        font-size: 25px;
    }
    .counseling{
        padding: 0 3%;
    }
    .counseling .call>img{
        width: 100%;
        height: auto;
    }
    .counseling .num{
        font-size: 20px;
       
    }
    .counseling .talk{
        font-size: 20px;
    }
    .kakao{
        margin: 0 auto;
    }
    .counseling .call{
        width: 40px;
        height: 50px;
    }
    .counseling .kakao{
        width: 40px;
        height: 50px;
    }
    .counseling .kakao>img{
        width: 100%;
        
    }
    
    .loc_map aside>iframe{
        width: 88%;
        margin: 0 auto;
        padding: 0 5%;
        text-align: center;   
    }
    .logo_footer{
        padding: 0 2%;
    }
        .system{
        max-width: 480px;
        padding: 70px 0;
    }
        .school{
        max-width: 480px;
        padding: 70px 0;
            
        }
        .language{
        max-width: 480px;
        padding: 70px 0px 300px;
        }
        .videos{
        max-width: 480px;
        padding: 70px 0;    
        }
        #footer{
            width: 100%;
        }
        
    .inner{
        max-width: 480px;
        padding: 10px 0px 50px;
}    
        #footer .footer_wrap2{
            position: relative;
            margin-left: 40px;
        }
        
        #footer .footer_wrap>ul li>a{
    
    font-size: 10px;
    
}
        #footer .footer_wrap2 .sns li a{
         
         text-indent: -9999px;
        }
    
    @media only screen and (min-width: 0) and (max-width: 480px)
        .slideshow{
            height:380px;
        }
        .mainpg_img img{
            width: 230px;
            top: 156px;
            right: -25px;
        }
        .mainpg_img2 img{
            width: 230px;
            top: 156px;
            right: -15px;
        }
        
























